body{
  background-color: #DAEAF1;
font-family: 'Open Sans', sans-serif;
}
.top-container{
  margin: 100px;
}

.pro{
  text-decoration: underline;
  color: #554994;
display: inline-block;


}
.icon1{
  width: 200px;
  height: 200px;
}
.icon2{
  width: 200px;
  height: 200px;

}
.icon3{
  width: 200px;
  height: 200px;


}

.bottom{
position: absolute;

}
.upper{
  position: relative;
  left: 200px;

}
.skill-row{

width: 50%;
margin: 100px auto 100px auto;
text-align: left;
line-height: 2
}
.bio{
  font-family: 'Silkscreen', cursive;
  font-size: 1.5rem;
}
h1{
  margin: 40px auto 0 auto;
  font-size: 5em;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height:1;

}
h3{
  color: #11999E;
}
.footer-link{
  color: #11999E;
}
h2{
  font-weight: bolder;
}
